<div class="card">
  <div class="card-body">
    <h4 class="card-title">Add Internship Agreement</h4>
    <form class="forms-sample ng-untouched ng-pristine ng-valid" novalidate="">
      <div class="form-group">
        <label for="date">Date</label>
        <div class="row">
          <div class="col-sm-6">
            <input class="form-control" id="date" type="date">
          </div>
          <div class="col-sm-6">
            <input class="form-control" type="date">
          </div>
        </div>
      </div>
      <div  class="form-group">
        <label for="entreprise">Entreprise</label>
        <select class="form-control" id="entreprise">
          <option _ngcontent-ein-c4="">1</option>
          <option _ngcontent-ein-c4="">2</option>
          <option _ngcontent-ein-c4="">3</option>
          <option _ngcontent-ein-c4="">4</option>
          <option _ngcontent-ein-c4="">5</option>
        </select>
      </div>

      <button class="btn btn-primary mr-2" type="submit">Submit</button>
      <button class="btn btn-light">Cancel</button>
    </form>
  </div>
</div>

