<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav" >
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>

      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="{{items[15].path}}" routerLinkActive="active">
        <div *ngFor="let notif of notif;">

          <div *ngIf="notif[1] !== null ">
            <span class="btn btn-warning btn-rounded btn-fw"  >conflit</span>
          </div>
        </div>
      </a></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="{{items[15].path}}" routerLinkActive="active">
        <div *ngFor="let notif of notification;">

          <div *ngIf="notification[1] !== null ">
            <span class="btn btn-danger btn-rounded btn-fw"  >reclamation</span><br>
          </div>
        </div>
      </a></li>


    <span *ngFor="let item of items; let i=index">
      <li class="nav-item" *ngIf="item.roles.indexOf(user.role)!==-1 || item.roles==='All'">
        <a class="nav-link" routerLink="{{item.path}}" routerLinkActive="active" [queryParams]=item.queryParams>
          <i class="{{item.icon}}"></i>
                 <span  >{{item.title}}</span>
        </a>
      </li>
    </span>







  </ul>
</nav>
