<div class="card">
  <div class="card-body">
    <h4 class="card-title">Internship Agreement</h4>
  </div>
  <div class="card-body">
    <h4 class="card-title">Student</h4>
    <p class="card-description">
    <p> Yassine Lahbib <span class="text-warning">183JMT1656</span> <p>
    <p class="text-primary">4 Twin 1<p>
      <p> <i class="fa fa-envelope-o"></i> &nbsp;yassine.lahbib@esprit.tn <p>
    </p>
  </div>
  <div class="card-body">
    <h4 class="card-title">Date</h4>
    <p class="card-description">
      <span>10-10-2019</span> To <span> 10-10-2019</span>
    </p>
  </div>

  <div class="card-body">
    <h4 class="card-title">Entreprise</h4>
    <p class="card-description">
      <a href="" class="text-info">Lorem Ipsum </a> is simply dummy text
    </p>
    <p><i class="fa fa-envelope-o"></i> &nbsp; vermeg@gmail.com</p>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary mr-2">Edit</button>
    <button type="button" class="btn btn-inverse-primary btn-fw">Export</button>
  </div>
</div>



