<div class="card" *ngIf="notFound ; else found">
  <div class="card-body">
    <img [src]="notFound" class="img_404">
  </div>
</div>
<ng-template #found>
  <div class="card" *ngIf="internship && edit === false">
  <div class="card-body">
    <h4 class="card-title">Internship Agreement</h4>
  </div>
  <div class="card-body" *ngIf="user.role != 'Etudiant' ">
    <h4 class="card-title">Student</h4>
    <p class="card-description">
      <a href="" class="text-info"> {{ internship.etudiant.prenom }} {{ internship.etudiant.nom }} </a>
    </p>
    <p><i class="fa fa-envelope-o"></i> {{ internship.etudiant.email }} </p>
  </div>
  <div class="card-body">
    <h4 class="card-title">Date</h4>
    <p class="card-description">
      <span class="text-info"> {{ internship.startDate }} </span> To <span class="text-info"> {{ internship.endDate }}</span>
    </p>
  </div>

  <div class="card-body">
    <h4 class="card-title">Entreprise</h4>
    <p class="card-description">
      <a href="" class="text-info">{{ internship.entreprise.nameEntreprise }} </a>
    </p>
    <p>{{ internship.entreprise.adresse }} {{ internship.entreprise.pays }}</p>
    <p><i class="fa fa-envelope-o"></i> {{ internship.entreprise.emailEntreprise}} </p>
  </div>
  <div class="card-body">
    <div class="form-group"  *ngIf="user.role === 'Etudiant' && ! internship.pdf">
      <button type="button" class="btn btn-primary mr-2" (click)="update()">Edit</button>
    </div>
    <div class="form-group"  *ngIf="user.role != 'Etudiant'">
      <button type="button" class="btn btn-inverse-primary btn-fw">Export</button>
    </div>
  </div>
</div>
  <app-add-internshipagreement  *ngIf="user.role === 'Etudiant' && edit || !internship" [internship]="internship" [edit]="edit" (hide)="hide($event)"></app-add-internshipagreement>
</ng-template>



